.card-q {
    background-color: rgba(218, 226, 236, 0.3);
    color: black;
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    max-width: 1200px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 450px;
}

.container-quest {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    width: 100%;
}

.options > span {
    background-color: rgba(0, 0, 0, 0.363);
    color:white;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
}
span:hover{
    background-color: rgb(70, 70, 70)
}
#finish-btn{
    background-color:rgba(49, 83, 194, 0.712);
    font-weight: bold;
    border-radius: 5px;
    color:white;
}